# Auto detect text files and perform LF normalization
#* text=auto
* text eol=lf

*.png binary
*.ico binary
*.svg binary
*.ttf binary
*.jpg binary
*.jpeg binary

*.pdf binary

*.mp3 binary
*.wav binary
*.ogg binary

*.mp4 binary
*.avi binary
*.mov binary

*.zip binary
*.rar binary
*.tar.gz binary